body {
    width: 100%;

}

.hire-me {
    background-color: aquamarine;
    border-bottom: 10px solid transparent;
    height: 60px;
    padding-top: 7px;
    padding-bottom: 10px;
    font-size: 12px;
    padding-left: 8px;
    z-index: 1;
}

/* Header Nav */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}




.navbar .links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 35px;
    padding-top: 10px;
    padding-right: 55px;
}

.navbar .links a {
    font-weight: 500;
    text-decoration: none;
    color: firebrick;
    padding: 10px 0;
    transition: 0.2s ease;
}

.navbar .links a:hover {
    color: rgb(40, 5, 104);
}

/*  
.hero-section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-left: 50px solid thin;
    border-right: 10px solid transparent;
}



.hero-section .hero {
    max-width: 100%;
    color: #fff;
}

.hero h2 {
    font-size: 19px;
    margin-bottom: 10px;
}

@media (min-width: 1000px) {
    .hero h2 {
        font-size: 3rem;
    }
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: #453b3b;
    padding-left: 10px;
}

.hero-section .img img {
    width: 517px;
}

.hero-section .buttons {
    margin-top: 40px;
    margin: 20px;
}

.hero-section .buttons a {
    text-decoration: none;
    color: white;
    padding: 12px 24px;
    border-radius: 0.375rem;
    font-weight: 600;
    transition: 0.2s ease;
    display: inline-block;
}

.hero-section .buttons a:not(:last-child) {
    margin-right: 15px;
}

.buttons .view {
    background-color: firebrick;
}

.buttons .download {
    background-color: firebrick;
}


.hero-section .buttons a:hover {
    background-color: #032f43;
}


@media screen and (max-width: 1122px) {
    .navbar .logo a {
        font-size: 2rem;
    }

    .links {
        position: fixed;
        left: -100%;
        top: 75px;
        width: 100%;
        height: 100vh;
        padding-top: 50px;
        background: #175d69;
        flex-direction: column;
        transition: 0.3s ease;
    }

    .navbar #menu-toggle:checked~.links {
        left: 0;
    }

    .navbar #hamburger-btn {
        display: block;
    }

    .header .buttons {
        display: none;
    }

    .hero-section .hero {
        max-width: 100%;
        text-align: center;
    }

    .hero-section img {
        display: none;
    }
}

*/

/*

h1 {
    font-size: 10px;
    font-weight: bold;
    color: firebrick;
    text-align: left;
    padding-top: 10px;
    font-family: 'Lobster', sans-serif;
    margin: 0px;
    letter-spacing: 1px;
    text-decoration: none;

}


/* Adjust header text size with different screen */

@media screen and (min-width: 700px) {
    h1 {
        font-size: 2rem;
    }



}



/* NAVBAR */
/*
#navbar {
    background-color: none;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: right;
    margin-right: 10px;
    margin-left: 100px;
    padding-top: 15px;
    padding-bottom: 2px;
}

@media screen and (max-width: 768px) {
    #navbar {
        display: none;
    }
}

#navbar a {
    float: left;
    display: block;
    color: #1D2951;
    font-weight: bold;
    text-align: center;
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;

}

#navbar a:hover {
    background-color: none;
    color: firebrick;


}


#navbar a:active {
    color: firebrick;
}

.nav-link.active {
    background-color: #54B435;
    border-radius: 8px;

}

*/

/*
/* Initially hide the toggle button */
.nav-toggle-button {
    display: block;
    /* Show the button on all screens initially */
    position: absolute;
    top: 60px;
    right: 20px;
    color: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    z-index: 2;
}

/* Style the navigation menu */
.nav-menu {
    display: block;
    /* Display the menu on all screens initially */
    position: fixed;
    top: 0px;
    left: -300px;
    /* Initially off the screen */
    height: 100%;
    width: 300px;
    background-color: #333;
    color: #fff;
    overflow-x: hidden;
    transition: 0.3s;
    z-index: 2;
}

/* Style the navigation links */
.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu ul li {
    padding: 15px;
    text-align: center;
}

.nav-menu a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}


/* Use a media query to hide the button and display the menu on wider screens */
@media screen and (min-width: 1122px) {
    .nav-toggle-button {
        display: none;
        /* Hide the button on screens wider than 768px */
    }

    .nav-menu {
        display: block;
        /* Display the menu on screens wider than 768px */
    }
}

/* Use a media query to hide the menu on smaller screens */
@media screen and (max-width: 1122px) {
    .nav-menu {
        left: -300px;
        /* Hide the menu off the screen on screens smaller than 768px */
    }

    .nav-menu.show-menu {
        left: 0;
        /* Show the menu by moving it onto the screen */
    }


}



/* Toogle Button */


/* WELCOME MESSAGE */
/*
#welcome-message {
    position: relative;
}


.image-overlay {
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: firebrick;
    padding: 10px;
    font-size: 8px;
    z-index: 1;
}

.welcome-text {
    background-color: none;
    padding-top: 0px;
    padding-bottom: 10px;
}



.resume-btn {
    background-color: none;

}


@media screen and (min-width: 768px) {
    .image-overlay {
        font-size: 2rem;
    }

}
*/

video {
    max-width: 100%;
    height: auto;
    border: 1.5px solid #001F3F;
    background-color: none;

}

.introduce-video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.video-text {
    color: black;
    font-size: 20px;
}


/* section titles */
h2 {
    font-size: 27px;
    color: #2F5A78;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

/* Certificate Title */
h4 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    border-bottom: 3px solid #2F5A78;
    padding: 20px;


}

/* Position Title */
h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

.summary-section {
    background-color: none;
    margin-top: 2px;
}

#profileimg-and-summary {
    padding-top: 20px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;

}

#about-me-div {
    margin-bottom: 20px;
}

/* profile image modify */
.profile-img {
    margin-left: 0px;

}

/* profile photo*/
#profile-photo {
    width: 150px;
    height: 200px;
}

#aboutme-text {
    padding-top: 30px;
    padding-left: 0px;
    font-size: 20px;
    font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#work-gallary-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#skill-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 30px;
    margin-top: 0px;
}

#work-gallary {
    margin-top: 8px;
    margin-bottom: 8px;
}

.exp-container-section {
    margin-top: 800px;
}

#experiences-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}


#experiences {
    margin-left: 4px;
    margin-top: 6px;
    margin-bottom: 6px;
}

#experiences ul li {
    text-align: justify;
    line-height: 30px;
    font-size: 16px;
}

/* Work Gallery */
.card-title {
    font-size: 20px;
}

/* EDUCATION BACKGROUND SECTION */
#education-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

#education-container ul li {
    font-size: 18px;
}

#education {
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Show Certificate full-screen */
.fullscreen {
    display: none;
    position: fixed;
    top: 40px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.fullscreen img {
    max-width: 100%;
    max-height: 100%;
}



#skills-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

#skills {
    font-size: 20px;
}

#contact-container {
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}

#contact-container ul li {
    font-size: 16px;
}

@media (min-width:1000px) {
    #contact-container ul li {
        font-size: 1.3rem;
    }
}

#contact-info {
    margin-right: 0px;
    margin-left: 0px;

}

.contact-list li {
    line-height: 40px;
    list-style-type: none;
}



#address {
    padding-top: 20px;
}

/* My Experience Timeline */
.timeline-container {
    margin-bottom: 70px;
}

.process-wrapper {
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container {
    position: relative;
    width: 100%;
    margin: auto;
    height: 90px;
    margin-top: 20px;
}

#progress-bar-container ul {
    padding: 0;
    margin: 0;
    padding-top: 15px;
    z-index: 9999;
    position: absolute;
    width: 100%;
    margin-top: -40px
}

#progress-bar-container li:before {
    content: " ";
    display: block;
    margin: auto;
    width: 37px;
    height: 37px;
    border-radius: 50%;
    border: solid 2px #aaa;
    transition: all ease 0.3s;

}

#progress-bar-container li.active:before,
#progress-bar-container li:hover:before {
    border: solid 2px #fff;

    background: linear-gradient(to right, firebrick 40%, #fff 100%);
}

#progress-bar-container li {
    list-style: none;
    float: left;
    width: 25%;
    text-align: center;
    color: #aaa;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    font-weight: 700;
    transition: all ease 0.2s;
    vertical-align: bottom;
    height: 80px;
    position: relative;
}

#progress-bar-container li .step-inner {
    position: absolute;
    width: 100%;
    bottom: 0px;
    font-size: 10px;
}


#progress-bar-container li.active,
#progress-bar-container li:hover {
    color: #444;
}

#progress-bar-container li:after {
    content: " ";
    display: block;
    width: 6px;
    height: 6px;
    background: #777;
    margin: auto;
    border: solid 7px #fff;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 2px 13px -1px rgba(0, 0, 0, 0.3);
    transition: all ease 0.2s;

}

#progress-bar-container li:hover:after {
    background: #555;
}

#progress-bar-container li.active:after {
    background: #207893;
}

#progress-bar-container #line {
    width: 80%;
    margin: auto;
    background: #eee;
    height: 8px;
    position: absolute;
    left: 10%;
    top: 57px;
    z-index: 1;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-bar-container #line-progress {
    content: " ";
    width: 3%;
    height: 100%;
    background: #207893;
    background: linear-gradient(to right, #207893 0%, #2ea3b7 100%);
    position: absolute;
    z-index: 2;
    border-radius: 50px;
    transition: all ease 0.9s;
}

#progress-content-section {
    width: 90%;
    margin: auto;
    background: #f3f3f3;
    border-radius: 4px;
}

#progress-content-section .section-content {
    padding: 30px 40px;
    text-align: center;
}

#progress-content-section .section-content h2 {
    font-size: 17px;
    text-transform: uppercase;
    color: #333;
    letter-spacing: 1px;
}

#progress-content-section .section-content p {
    font-size: 16px;
    line-height: 1.8em;
    color: #777;
}

#progress-content-section .section-content {
    display: none;
    animation: FadeInUp 700ms ease 1;
    animation-fill-mode: forwards;
    transform: translateY(15px);
    opacity: 0;
}

#progress-content-section .section-content.active {
    display: block;
}

@keyframes FadeInUp {
    0% {
        transform: translateY(15px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

/* My Experience Timeline */


/* footer styling */
#footer-container {
    text-align: center;
    padding: 5px 0;
    margin: 30px 0px 0px 0px;
    background-color: #001F3F;
    color: white;
    max-width: 100%;
    height: 100px;
}

footer {
    position: relative;
}

footer a {
    text-decoration: none;
    color: white;

}

footer a:hover {
    color: firebrick;
}



/* Add New Nav CSS */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root {
    --primary-color: firebrick;
    --primary-color-dark: #9333ea;
    --secondary-color: #ca8a04;
    --text-dark: #1f2937;
    --text-light: firebrick;
    --extra-light: #faf5ff;
    --max-width: 1200px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav__content a {
    text-decoration: none;
}



nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    z-index: 99;
    border-top: 7px solid firebrick;
    border-bottom: 1px solid black;
}

.nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 1.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo a {
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-color);
    transition: 0.3s;
    font-family: 'Lobster', sans-serif;
}

nav .logo a:hover {
    color: var(--primary-color-dark);
}

nav .checkbox {
    display: none;
}

nav input {
    display: none;
}

nav .checkbox i {
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}

.nav__content ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
}

.nav__content ul li a {
    padding: 4px;
    border: 2px solid transparent;
    text-decoration: none;
    font-weight: 600;
    color: var(--text-dark);
    transition: 0.3s;
}

ul li a:hover {
    color: var(--secondary-color);
}

.section {
    background-color: none;
}

.section__container {
    min-height: 120vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subtitle {
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 700;
    margin-bottom: 0.5rem;
}

.title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}

.title span {
    font-weight: 600;
}

.description {
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}

.action__btns {
    display: flex;
    gap: 1rem;
    text-decoration: none;
}

.action__btns button {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    outline: none;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}

.hire__me {
    background-color: var(--primary-color);
    color: #ffffff;
    text-decoration: none;
}

.hire__me:hover {
    background-color: var(--primary-color-dark);
}

.download {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 700;
}

.download:hover {
    background-color: var(--primary-color-dark);
    color: #ffffff;
}

.image {
    display: grid;
    place-items: center;
}

.image img {
    width: min(25rem, 90%);
    border-radius: 70%;
    border: 1px solid black;
}

@media (width < 1000px) {
    nav .checkbox {
        display: block;
    }

    .nav__content ul {
        position: absolute;
        width: 100%;
        height: calc(120vh - 100px);
        left: -100%;
        top: 97px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }

    nav #check:checked~ul {
        left: 0;
    }

    .nav__content ul li a {
        font-size: 1.25rem;
    }

    .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
    }

    .image {
        grid-area: 1/1/2/2;
    }

    .action__btns {
        margin: auto;
    }

    .download {
        font-size: 10px;
    }

    .hire__me {
        font-size: 10px;
    }
}